:root {
    --moradito: #3cc93f;  
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Nunito', sans-serif;
    font-family: 'Quicksand', sans-serif;
}


/* PARTE DEL NAV */

.nav {
    background-color: var(--moradito);
    --img1: scale(1);
    --img2: scale(0);
}

.nav:has(.dropdown:target) {
    --img1: scale(0);
    --img2: scale(1);
    --clip: inset(0 0 0 0);
}


.nav-container {
    width: 96%;
    margin: 0 auto;
    height: 70px;

    display: grid;
    grid-template-columns: max-content;
    grid-template-areas: "title img";
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}


.nav-logo {
    width: 46px;
    height: 58px;
}

.nav-title {
    color: white;
    grid-area: title; 
    display: flex;
    align-items: center;
    gap: 1rem;
}

.btn-superior {
    border: 2px solid #000000;
    border-radius: 10px;
    padding: 15px;
    width: auto;
    height: 50px;
    font-weight: 700;
    background: none;
    display: flex;
    align-content: center;
    align-items: center;
    gap: .3rem;
    color: #000;
}

.btn-superior:hover {
    background-color: black;
    color: white;
}


.nav-menu {
    grid-area: img;
    position: relative;
    z-index: 10;

    transform: var(--img1);
}

.nav-menu-second {
    transform: var(--img2);
}

.nav-icon {
    width: 30px;
    display: block;
}

/* EL TEXTO DE LAS MATERIAS DISPONIBLES */
h2 {
    position: absolute;
    left: 3%;
    top:14%;
    color: var(--moradito);
}


/* SELECCION DE LAS MATERIAS */

.dropdown {
    position: absolute;

    background-color: #000;
    width: 75%;
    max-width: 300px;

    /* left: 0; */
    right: 0;
    top: 0;
    bottom: 0;
    padding: 1em;

    display: flex;
    flex-direction: column;
    align-content: center;
    gap: 1rem;

    overflow-y: auto;

    clip-path: var(--clip, inset(0 0 100% 100%));
    transition: clip-path .5s;
}

.dropdown::-webkit-scrollbar {
    width: 4px;
}

.dropdown::-webkit-scrollbar-thumb {
    background: var(--moradito);
    border-radius: 20px;
    box-shadow: inherit;
}

.dropdown-list {
    list-style: none;
}

.dropdown-link {
    color: rgb(184, 187, 191);
    padding: 1em .7em;
    text-decoration: none;

    display: flex;
    align-items: center;
    gap: .6rem;

    position: relative;
    background-color: var(--bg, transparent);
    border-radius: 6px;
}

.dropdown-list:has(:checked) {
    --rows: 1fr;
    --rotate: rotate(180deg);
    --bg: #28303B;;
}

.dropdown-check {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

.dropdown-arrow {
    margin-left: auto;
    transform: var(--rotate, 0);
    transition: 0.2s transform;
}

.dropdown-content {
    display: grid;
    grid-template-rows: var(--rows, 0fr);
    transition: 0.3s grid-template-rows;
}

.dropdown-sub {
    overflow: hidden;
    /* background-color: red;  */
}


.dropdown-span {
    font-weight: 600;
}

.dropdown-li {
    width: 85%;
    background-color:#c3c3c3;
    list-style: none;
    border-radius: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.dropdown-anchor {
    padding: 2em 0;
    display: block;
    color: black;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
}



* {
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    font-family: 'Quicksand', sans-ser
}

*::-webkit-scrollbar {
    width: 4px;
}

*::-webkit-scrollbar-thumb {
    background: #3cc93f;
    border-radius: 20px;
    box-shadow: inherit;
}

section {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.container {
    width: 70%;
    height: 70vh;
    border-radius: 10px;
    overflow-y: scroll;
}

.text {
    padding: 20px;
    color: #000;
    font-size: 30px;
    font-weight: 800;
}

table {
    color: #000000;
    font-size: 14px;
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    border-radius: 20px;
}

thead {
    background: #8D8D8Da2;
}

tr {
    height: 50px;
}

tbody tr {
    cursor: pointer;
}
tbody tr:hover {
    background: rgba(179, 152, 170, 0.4);
}
th {
    font-weight: 700;
    text-transform: uppercase;
}

td {
    font-weight: 700;
    text-align: center  ;
}
.btn {
    border-radius: 3px;
    padding: 5px 5px;
    text-decoration: none;
    text-shadow: 0 1px 0 rgba (255, 255, 255, 0.3);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0, .3);
    width: 50%;
    display: flex;
    justify-content: center;
    color: #fff;
    margin: 0 auto;
}

.btn-green {
    background-color: #3cc93f;
}

.btn-orange {
    background-color: #ee8b19;
}
